/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #004225;
}

.bgimg-gallery {
  padding-top: 3.5rem;
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-image: url("../images/upload-background.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

/* Bottom right text */
.text-block {
    position: absolute;
    top: 6rem;
    right: 2rem;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
