{% extends "home/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block header %}
{% endblock header %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'gallery:index' %}">Gallery</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'data:index' %}">Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home:index' %}#contact">Contact</a>
    </li>
  </ul>
</div>
{% endblock navbar %}

{% block content %}
{% endblock content %}

{% block subcontent %}
{% endblock subcontent %}
