{% extends "data/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block header %}
<script type="text/javascript" src="{% static 'data/js/converter.js' %}"></script>
{% endblock header %}

{% block content %}
<main role="main" class="container">
  <h2>Blood Sugar Converter</h2>
  <p>Type an A1C value to convert the value to Average Blood Sugar or vice versa:</p>

  <p>
    <label>A1C</label>
    <input id="inputFahrenheit" type="number" placeholder="A1C" oninput="bloodsugarConverterA1C(this.value)" onchange="bloodsugarConverterA1C(this.value)">
  </p>
  <p>Average Blood Sugar: <span id="outputEAG"></span></p>

  <p>
    <label>Average Blood Sugar</label>
    <input id="inputEAG" type="number" placeholder="Blood Glucose" oninput="bloodsugarConverterEAG(this.value)" onchange="bloodsugarConverterEAG(this.value)">
  </p>
  <p>A1C: <span id="outputA1C"></span></p>

</main>
{% endblock content %}
