{% extends "data/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="main">
    <div class="container" style="margin-top:30px">
        <p>
            <a href="{% url 'data:topic' topic.id %}">{{ topic }}</a>
        </p>
    </div>

    <div class="container text-left" style="margin-top:30px">
        <p class="text-left">Add a new event:</p>
        <form action="{% url 'data:new_entry' topic.id %}" method='post'>
            {% csrf_token %}
             <table class="table table-sm">
                 <tbody>
                    {{ form.as_table }}
                 </tbody>
             </table>
            <button class="btn btn-primary" name='submit'>add entry</button>
            <a class="btn btn-primary" href="{% url 'data:topic' topic.id %}">cancel</a>
        </form>
    </div>
</div>
{% endblock content %}
