{% extends "data/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded box-shadow">
        <img class="mr-3" src="/static/data/images/diabetes.ico" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Diabetes data</h6>
            <small>All Topics</small>
        </div>
    </div>
    <div class="my-3 p-3 bg-dark rounded box-shadow text-left">
        <div class="container">
            <p class="lead">
                <a href="{% url 'data:new_topic' %}" class="btn btn-md btn-primary">Add new topic</a>
            </p>
        </div>
        {% for topic in topics %}
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <a href="{% url 'data:topic' topic.id %}">{{ topic }}</a>
            </p>
        </div>
        {% empty %}
        <li>No topics have been added yet.</li>
        {% endfor %}
        <div class="container">
            <small class="d-block text-right mt-3">
                    <a href="{% url 'data:new_topic' %}">Add new topic</a>
            </small>
        </div>
    </div>
</main>
{% endblock content %}
