{% extends "home/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block header %}
<title>That's more of it</title>
{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'gallery:index' %}">Gallery</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'data:index' %}">Data</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#contact">Contact</a>
</li>
{% endblock navbar %}

{% block content %}
<div class="bgimg-1">
  <header class="masthead mb-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="#gallery">Gallery</a>
        <a class="nav-link" href="#data">Data</a>
      </nav>
    </div>
  </header>
  <div class="caption">
    <span class="border">That's More Of It</span>
  </div>
</div>
<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Welcome</h3>
  <p>That's more of it is my space for photography and data learning.</p>
</div>
<div class="bgimg-3" id="gallery">
  <a href="{% url 'gallery:index' %}">
    <div class="caption">
      <span class="border" style="font-size:25px;color: #f7f7f7;">Gallery</span>
    </div>
  </a>
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Photo gallery of snaps I took.</p>
  </div>
</div>
<div class="bgimg-2" id="data">
  <a href="{% url 'data:index' %}">
    <div class="caption">
      <span class="border" style="font-size:25px;color: #f7f7f7;">Data Learning</span>
    </div>
  </a>
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Data learning space using pydata.</p>
  </div>
</div>
<div class="bgimg-4" id="contact">
  <a href="https://twitter.com/itsbillw">
    <div class="caption">
      <span class="border">Contact me</span>
    </div>
  </a>
</div>
{% endblock %}