{% extends "home/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block header %}

<title>That's more of it - Gallery</title>

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}">

{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'gallery:index' %}">Gallery</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'data:index' %}">Data</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'home:index' %}#contact">Contact</a>
</li>
{% endblock navbar %}

{% block content %}
<main role="main" style="padding-top:3.5rem">
  <!-- Album (3x3) view in gallery -->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {% for document in documents %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="img-thumbnail" src="/media/{{ document.docfile.name }}" alt="Card image cap" data-toggle="modal" data-target="#exampleModal{{ document.id }}">
          </div>
        </div>
        <div class="modal fade" id="exampleModal{{ document.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <img class="img-fluid" src="/media/{{ document.docfile.name }}">
              <div class="modal-footer">
                image details go here...
              </div>
            </div>
          </div>
        </div>

        {% empty %}
        {% endfor %}

      </div>
    </div>
  </div>

</main>
{% endblock content %}
