{% extends "home/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block header %}

<title>That's more of it - Upload</title>

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}">

{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'gallery:index' %}">Gallery</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'data:index' %}">Data</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'home:index' %}#contact">Contact</a>
</li>
{% endblock navbar %}

{% block content %}
<div class="bgimg-gallery">
  <div class="text-block">
  <!-- List of uploaded documents -->
  {% if documents %}
      <ul>
          {% for document in documents %}
              <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
          {% endfor %}
      </ul>
  {% else %}
      <p>No documents.</p>
  {% endif %}

  <!-- Upload form. Note enctype attribute! -->
  <form action="{% url "gallery:photo_upload" %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.non_field_errors }}</p>

      <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

      <p>
          {{ form.docfile.errors }}
          {{ form.docfile }}
      </p>

      <p><input type="submit" value="Upload"/></p>
  </form>
</div>
</div>
{% endblock %}
