{% extends "home/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block header %}
<title>That's more of it - Sign In</title>
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'gallery:index' %}">Gallery</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'data:index' %}">Data</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#contact">Contact</a>
</li>
{% endblock navbar %}

{% block content %}
    <form method="post" action="{% url 'users:login' %}" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button class="btn btn-lg btn-primary btn-block" name="submit">Sign in</button>
      {% endbuttons %}
      <input type="hidden" name="next" value="{% url 'data:index' %}" />
      <button class="btn btn-lg btn-primary btn-block" style="background-color: #4CAF50">
        <a href="{% url 'users:register' %}" style="color:white">Register</a>
      </button>
    </form>
{% endblock %}
