{% extends "home/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block header %}

<title>That's more of it - Login</title>

{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'gallery:index' %}">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'data:index' %}">Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">Contact</a>
    </li>
  </ul>
</div>
{% endblock navbar %}

{% block content %}
<div class="container text-center" style="padding-top: 5rem">
    <h2>Log in to your account.</h2>
</div>
<div class="container" style="margin-top:30px;max-width: 420px">
    <div class="text-center mb-4">
        <form method="post" action="{% url 'users:login' %}" class="form">
            {% csrf_token %} {% bootstrap_form form %} {% buttons %}
            <button class="btn btn-lg btn-primary btn-block" name="submit">Sign in</button>
            {% endbuttons %}

            <input type="hidden" name="next" value="{% url 'gallery:index' %}" />
        </form>
        <button class="btn btn-lg btn-primary btn-block" style="background-color: #4CAF50">
            <a href="{% url 'users:register' %}" style="color:white">Sign Up</a>
        </button>
    </div>
</div>
{% endblock content %}
